.place__title {
  margin: 0;
  padding: 0 0 48px 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #FFFFFF;
  grid-area: title;
  width: 460px;
  box-sizing: border-box;
  align-self: end;
}
