.place__image {
  height: 460px;
  grid-area: image;
}

@media (max-width: 1279px) {
  .place__image {
    height: 440px;
  }
}

@media (max-width: 1023px) {
  .place__image {
    height: 340px;
  }
}
