.place {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  grid-template-areas:
    "title web"
    "image text";
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}
