.navigation__item {
  margin-right: 18px;
}

.navigation__item:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .navigation__item {
    margin-bottom: 32px;
    margin-right: 0;
  }

  .navigation__item:last-child {
    margin-bottom: 48px;
  }
}

